<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="test"> 
  
    <classes>
      <class name="Android.TestCases.TCSignUp"/>
      <class name="Android.TestCases.TCFeed"/>
     <class name="Android.TestCases.TCEditPostDetailScreen"/>
        
    </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->

  